{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>Shahla</title>
  <meta name="theme-color" content="blue">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="msapplication-TileColor" content="blue" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="description" content="portfolio"> 
  <meta property="og:title" content="portfolio" />
  <meta property="og:description" content="portfolio">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/anim.css'%}">
  <script type="text/javascript" src="{% static 'jquery.js'%}"></script>
  <script type="javascript" src="{% static 'script.js'%} "></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark " style="position: fixed ;top: 0px;;
width: 100%;
z-index: 10;"

>
  <a class="navbar-brand" href="#">  </a>
  <button style="outline:none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
    <ul class="navbar-nav" style="margin-left: auto;">
        
      <li class="nav-item ">
        <a class="nav-link" href="#" onclick="">
        Home
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" onclick="" >
        About
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" onclick="" >
        Skills
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" onclick="" >
        Contact
        </a>
      </li>
      
      <li>
        <hr>
      </li>

    </ul>
  </div>
</nav>
<div style="width: 100%; height: 100vh;background-image:url(images/bk2.jpg);background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: fixed;
z-index: -1;
top: 0px;

">


</div>
<div style="    text-align: center ; margin-top:150px ;
">
    <img src="{% static 'images/dp.png'%}" class="dp" alt="" style="width: 25%; ">
    <h1 style="color: rgba(15, 15, 15, 0.486);">Shahla Febin</h1>
    <h3 style="color: rgb(41, 40, 41);">I want Every girl know that her voice can change the world.</h3>
    <div style="width: 100%; background-color: white; margin-top: 300px; height: 700px;">
        <h1 padding: 90px;
        font-family: sans-serif;
        color: slategrey;>About</h1>
        <div class="col sqs-col-10 span-10"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1599222963095_11170"><div class="sqs-block-content"><h2 style="text-align:center;white-space:pre-wrap;">Hi. I am shahla Febin,pursuing Engineering Degree under A.P.J Abdul Kalam univeristy.I've never thought as a female engineer,or founder,or a women in tech.I just think of myself as someone who's passionate.</h2></div></div></div>

      <div  style="width:50%;background-color: #2c278626;opacity: 50%;align-content: center;margin-left: 25%;">
        <h4 style="color: rgb(105,105,105);font-weight: 100px ; margin: 70px;"></h4>

      </div> 
        
    </div>
</div>

<div class="container">

  
    </div>
  </div>



</div>

<footer class="pagefoot" style="background:rgb(43, 42, 42) ;" >
 
  <hr>
  <div class="footer-copyright text-center py-3" style="color: bisque;">&copy; 2021 Copyright:
    <span> musafar</span>
  </div>
</footer>
<script src="script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- JS Files  -->

</body>
</html>


